
<ion-header>

  <ion-navbar>
    <ion-title>Top Seller</ion-title>
    <ion-buttons large end >
        <button ion-button style=" font-size: 25px;" (click)="showCart()"><ion-icon name="cart" ></ion-icon>
          &nbsp;<ion-badge>{{numItem}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="books">
        <ion-item *ngFor="let book of books"  text-wrap>
          <ion-thumbnail item-start>
            <img src='{{book.thumbnailUrl}}' style="width:100px;height:120px;"/>
          </ion-thumbnail>          
          <p><strong>{{book.title}}</strong> - {{book.author}}</p>
          <p><ion-badge color="secondary" item-end><strong>฿{{book.price}}</strong></ion-badge> </p>
          <button ion-button   (click)="ShowDetail(book.bookid)">            
            <ion-icon name="md-list-box"     ></ion-icon>&nbsp;            
          </button>
          <button ion-button  color="danger" (click)="BookAdd(book.bookid,book.title,book.price)" >
            <ion-icon name="cart"     ></ion-icon>&nbsp;
            Add to Cart   
          </button>
         
        </ion-item>        
      </ion-list>
      <button ion-button full color="dark" (click)="goBack()">
          Back
        </button>
</ion-content>
